<%- include('partials/head') -%>
<body style='display: block;'>
	<form action="/" method="POST" enctype="application/x-www-form-urlencoded">
		<label>Nombre: <input type="text" name="nombre"></label>
		<label>Apellido: <input type="text" name="apellido"></label>
		<button type="submit">Login</button>
	</form>
</body>
</html>